//GLOBALS

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

a,
a:link,
a:visited {
  text-decoration: none;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: $font-med;
  line-height: 1.3;
  font-weight: 300;
  color: $graishBlue;
  font-family: "Public Sans", sans-serif;
}

//===========================================

//flexboxstyles
.flex {
  display: flex;
  &-jc-sb {
    justify-content: space-between;
  }
  &-jc-c {
    justify-content: center;
  }
  &-ai-c {
    align-items: center;
  }
}

// Buttons

button,
.button {
  padding: 1.6rem 2.2rem;
  border-radius: 50px;
  cursor: pointer;
  border: none;
  background: linear-gradient(to left, $limeGreen, $brightCyan);
}
//visibilty classes
.hide-for-mobile {
  //hide for desktop viewport width
  @include breakpoint-down(med) {
    display: none;
  }
}

.hide-for-desktop {
  //hide for desktop viewport width
  @include breakpoint-up(large) {
    display: none;
  }
}
